<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style=" padding-bottom: 0;">
                 <ul class="nav nav-tabs">
					<li class="active"><a href="javascript:;">短信发送记录</a></li>
				</ul>
            </div>
            <div class="ibox-content">

                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
								<div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <button type="button" class="btn btn-sm btn-white" id="btndel">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>删除短信记录
                                    </button>
                                </div>
                                <!---search start-->
                                <div class="right" style="width:700px;">
                                    <!-- <span style=" line-height: 30px; margin-right: 5px;">手机号:</span> -->
									<input type="text" id="phone" value="" class="input_zdy input-sm" size="15" placeholder="手机号" name="uname" style="vertical-align: text-top;height:34px;display:inline-block;">
                                  <!--   <span style=" line-height: 30px; margin-right: 5px;">开始日期:</span> -->
									<input placeholder="开始日期" class="form-control layer-date" id="start">
									<!-- <span style=" line-height: 30px; margin-right: 5px;">结束日期:</span> -->
									<input placeholder="结束日期" class="form-control layer-date" id="end">
                                        
                                    <a href="javascript:;" id="btnsearch" class="btn btn-primary btn-sm" style="height: 34px;vertical-align: text-top;">查询</a>
                                    <!-- <a href="javascript:;" id="btnexport" class="btn btn-white">导出</a> -->
                                </div>
								<!---search end---->
                                <table id="dg" data-height="100%" data-mobile-responsive="true">
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="m-t-none m-b">错误信息</h3>
							<p id="errMsg"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- layerDate plugin javascript -->
<script src="/static/js/plugins/layer/laydate/laydate.js"></script>
<script>
    function getQueryParams(){
        var q = {};
        q.phone = $("#phone").val();
		q.start = $("#start").val();
		q.end = $("#end").val();
        return q;
    }
    $("#btnsearch").click(function(){
		q = getQueryParams();console.log(q);
		$("#dg").bootstrapTable('refresh', {url: "<{:url('sms/logajaxlist')}>",query:q}); 
    });
	$("#btnexport").click(function(){
		q = getQueryParams();
		$("#dg").bootstrapTable('refresh', {url: "<{:url('sms/exportlog')}>",query:q}); 
    })
   
    $("#btndel").click(function(){
    	var items = $("#dg").bootstrapTable('getSelections');
    	items = objcolum(items,'id');
    	if(items.length <= 0){
    		swal("出错了", "请选择要删除的值", "error");
    	}else{
			del(items);
		}
    });
    function del(ids) {
        swal({
			title: "您确定要删除这条信息吗",
			text: "删除后将无法恢复，请谨慎操作！",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "删除",
			closeOnConfirm: false
		},function(isConfirm) {
			var cur=0;
			if (isConfirm) {
				if (!$.isArray(ids)) {
					ids = [ids];
				}
				$.ajax({
					url: "<{:url('sms/logdel')}>",
					data: { id: ids },
					type: 'post',
					dataType: 'json',
					success: function(ret) {						
						swal({
							title: "太帅了",
							text: ret.msg?ret.msg:'操作成功！',
							type: "success"
						},function(){
							location.href="<{:url('sms/logajaxlist')}>";
						});
					}
				});
			} else {
				swal("已取消", "您取消了删除操作！", "error");
			}
		});
    }
	function openWin(ele){
		//alert(ele.attr('content'));
		$('#errMsg').html(ele.attr('content'));
	}
    $(function(){
		$('#dg').bootstrapTable({
			url:"<{:url('sms/logajaxlist')}>",
			//method:'post',
			queryParams:function(params){
				params.p = parseInt(params.offset/params.limit)+1;
				params = $.extend(params,getQueryParams());
				return params;
			},
			queryParamsType:"limit",
			contentType:'application/json',
			dataType:'json',
			sidePagination: "server", //表示服务端请求
			pagination:true,//启动分页
			pageNumber:1,//当前第几页
			pageSize:20,//每页显示的记录数
			pageList:[10,15,20], //记录数可选列表
			dataField:'rows',
			idField:"id",
			columns:[{checkbox: true,align: 'center', valign: 'middle'},
					{title: '编号',field: 'id',align: 'center',valign: 'middle'},
					{title: '手机号',field: 'phone',align: 'center',valign: 'middle'},
					{title: '验证码',field: 'captcha',align: 'center',valign: 'middle'},
					{title: '会员编号',field: 'member_id',align: 'center',valign: 'middle'},
					{title: 'IP地址',field: 'ip',align: 'center',valign: 'middle'},
					{title: '提交类型',field: 'type',align: 'center',valign: 'middle'},
					{title: '提交时间',field: 'add_time',align: 'center',valign: 'middle'},
					{title: '提交状态',field: 'state',align: 'center',valign: 'middle',
						formatter:function(value,row,index){
							var html = '';
							if(row.state == 1){
								html += '<button type="button" class="btn btn-outline btn-success">'+row.state_text+'</button>';
							}else{
								html += '<a data-toggle="modal" class="btn btn-outline btn-warning" onclick="openWin($(this))" href="#modal-form" content="'+row.errMsg+'">'+row.state_text+'</a>';
							}
							return html;
						}
					},
					/*
					{title: '操作',field: 'n_do',align: 'center',valign: 'middle',
						formatter:function(value,row,index){
							var html = '';
							html = '<a href="<{:url(\'role/edit\')}>?id='+row.id+'" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="编辑" style=" margin-right:4px;"><span class="glyphicon glyphicon-edit"></span> 编辑</a><a href="javascript:;" onclick="auth('+row.id+')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="分配权限" style=" margin-right:4px;"><span class="glyphicon glyphicon-remove"></span>分配权限</a><a href="javascript:;" onclick="del('+row.id+')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="删除" style=" margin-right:4px;"><span class="glyphicon glyphicon-remove"></span> 删除</a>';
							return html;
						}
					}*/],
			responseHandler:function(res){
			  //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
			  //在ajax后我们可以在这里进行一些事件的处理
			  return res;
			},
			search:false,
			iconSize: 'outline',
			toolbar: '#exampleTableEventsToolbar',
			icons: {
				refresh: 'glyphicon-repeat',
				toggle: 'glyphicon-list-alt',
				columns: 'glyphicon-list'
			},
			toolbarAlign:'left',
			showToggle:false,
			showColumns:false,//显示下拉框勾选要显示的列
		   // minimumCountColumns:3,
		   // showRefresh:true,//显示刷新按钮
			striped:true,//表格显示条纹
			singleSelect:false,//复选框只能选择一条记录  
			clickToSelect:false,//点击行即可选中单选/复选框  
			checkboxHeader:true
		});
    });
    </script>
	<script>
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY/MM/DD hh:mm:ss',
            //min: laydate.now(), //设定最小日期为当前日期
            min: '2017-12-31 23:59:59', //设定最小日期为当前日期
            max: '2099-12-31 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY/MM/DD hh:mm:ss',
            //min: laydate.now(),
            min: '2017-12-31 23:59:59',
            max: '2099-12-31 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
    </script>
<{include file="public/footer"}>