<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style=" padding-bottom: 0;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:;">业绩积分记录管理</a></li>
            </ul>
        </div>
        <div class="ibox-content">

            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                            </div>
                            <!---search start-->
                            <!---search end---->
                            <table id="dg" data-height="100%" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var channel_edit = "<{:url('RedLog/edit')}>";
    var update_url="<{:url('Product/update_status')}>";
    function getQueryParams() {
        var q = {};
        q.ap_id = $("#ap_id").val();
        q.a_name = $("#a_name").val();
        return q;
    }
    $("#btnsearch").click(function () {
        q = getQueryParams();
        var url="<{:url('Product/listajax')}>";
        $("#dg").bootstrapTable('refresh', {url: url, query: q});
    })
    $("#btnadd").click(function () {
        location.href = "<{:url('Product/add')}>";
    })
    $("#btndel").click(function () {
        var items = $("#dg").bootstrapTable('getSelections');
        items = objcolum(items, 'id');
        if (items.length <= 0) {
            swalErrorMsg('请选择要删除的值');
        }
        del(items);
    })
    function del(ids) {
        swal({
            title: "您确定要删除吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            closeOnConfirm: false,
            closeOnCancel: false
        },
                function (isConfirm) {
                    var cur = 0;

                    if (isConfirm) {
                        if (!$.isArray(ids)) {
                            ids = [ids];
                        }
                        var url = "<{:url('product/del')}>";
                        $.ajax({
                            url: url,
                            data: {id: ids},
                            type: 'post',
                            dataType: 'json',
                            success: function (d) {


                                init(cur, ids.length, d);


                            }
                        });
                        //swal("删除成功！", "您已经永久删除了这条信息。", "success");
                    } else {
                        swal("已取消", "您取消了删除操作！", "error");
                    }
                });
    }
    function init(cur, i, d) {


        var percent = parseInt(cur * 100 / i);
        var content = '<div class="pull-left"><p id="p_text"><span id="p_text1">' + cur + '</span>/' + i + '</p></div>' +
                '<div class="progress">' +
                '   <div class="progress-bar" role="progressbar progress-bar-striped active" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + percent + '%;min-width: 2em;">' + percent + '%</div>' +
                '</div>';

        layer.open({type: 1, title: '系统提示', content: content, area: ['600px', '460px'],
            success: function () {
                var schedule = setInterval(function () {
                    cur++;
                    $("#p_text1").html(cur);
                    percent = parseInt(cur * 100 / i);
                    $('.progress').html('<div class="progress-bar" role="progressbar progress-bar-striped active" aria-valuenow="' + percent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + percent + '%;min-width: 2em;">' + percent + '%</div>')
                    if (cur >= i) {
                        clearInterval(schedule);
                        setTimeout(function () {
                            if (d.stat == '1') {
                                swal({
                                    title: "太帅了",
                                    text: d.msg,
                                    type: "success"
                                }, function () {
                                    var url = "<{:url('Product/index')}>";
                                    location.href = url;
                                });
                            } else {
                                swal({
                                    title: "出错了",
                                    text: d.msg,
                                    type: "error"
                                });
                            }
                        }, 500)

                    }
                }, 500)
            }});

    }
    $(function () {
        $('#dg').bootstrapTable({
            url: "<{:url('RedLog/listajax')}>",
            //method:'post',
            queryParams: function (params) {
                params.p = parseInt(params.offset / params.limit) + 1;
                params = $.extend(params, getQueryParams());
                return params;
            },
            queryParamsType: "limit",
            contentType: 'application/json',
            dataType: 'json',
            sidePagination: "server", //表示服务端请求
            pagination: true, //启动分页
            pageNumber: 1, //当前第几页
            pageSize: 5, //每页显示的记录数
            pageList: [10, 15, 20], //记录数可选列表
            dataField: 'rows',
            idField: "id",
            columns: [{checkbox: true, align: 'center', valign: 'middle'},
                {title: 'ID', field: 'id', align: 'center', valign: 'middle'},
                {title: '会员', field: 'username', align: 'center', valign: 'middle'},
                {title: '手机号', field: 'phone', align: 'center', valign: 'middle'},
                {title: '业绩', field: 'red', align: 'center', valign: 'middle'},
                {title: '添加时间', field: 'add_time', align: 'center', valign: 'middle'}],
            responseHandler: function (res) {
                //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
                //在ajax后我们可以在这里进行一些事件的处理
                return res;
            },
            search: false,
            iconSize: 'outline',
            toolbar: '#exampleTableEventsToolbar',
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            toolbarAlign: 'left',
            showToggle: false,
            showColumns: false, //显示下拉框勾选要显示的列
            // minimumCountColumns:3,
            // showRefresh:true,//显示刷新按钮
            striped: true, //表格显示条纹
            singleSelect: false, //复选框只能选择一条记录  
            clickToSelect: false, //点击行即可选中单选/复选框  
            checkboxHeader: true
        });
        function alert_m(msg){
                            swal("提示信息", msg, "success");   
}
   function update_post(url,data,msg){
       $.post(url,data,function(data){
           
           if(data.stat==1){
               msg();
           }else{
               alert(data.msg);
           }
       })
   } 
   function confirm_dialog(title,dec,action){
 swal({
        title: title,
        text: dec,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        cancelButtonText:"取消",
        confirmButtonText: "确认",
        closeOnConfirm: false
    }, function (isConfirm) {
        if(isConfirm){
        action();    
        }
    });
       
   }
   $("body").on("click",".upstatus",function(e){
        e.preventDefault();
        var status=$(this).attr("data-status");

         var id=$(this).attr("data-id");
       var data={id:id,status:status};
       var url=update_url;
         if(status==1){
             var msg="确认启用当前业绩";
         }else{
             var msg="确认拒绝业绩";   
         };
confirm_dialog("确认提示",msg,function(){

        if(id){
            
            update_post(url,data,function(){
                        swal("操作成功！", msg, "success");   
                        $("#dg").bootstrapTable("refresh");
            });
        }

    
});
    })
    });
</script>
<{include file="public/footer"}>