<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<style>
    .sweet-alert{
        width: 800px;
    left: 0;
    right: 0;
    top: 55%;
    margin: auto;
    }
    fieldset{display:none;}
    .sweet-alert input{
        display: inline-block;
        
    }
    .showSweetAlert p{
            max-height: 500px;
    overflow: scroll;
    }
</style>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style=" padding-bottom: 0;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:;">分站费率设置</a></li>
            </ul>
        </div>
        <div class="ibox-content">

            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                            </div>
                            <!---search start-->
                            <div class="right">
                            </div>
                            <!---search end---->
                            <table id="dg" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- layerDate plugin javascript -->
<script src="/static/js/plugins/layer/laydate/laydate.js"></script>
<script>
    var url_index="<{:url('Part/listajax')}>";
    var update_edit = "<{:url('Part/get_demain')}>";
    var get_demain_order = "<{:url('Part/get_demain_order')}>";
    var check_log = "<{:url('Part/get_check_log')}>";
    var url_del = "<{:url('Part/del')}>";
    var url_detail = "<{:url('Part/get_detail')}>";
    var url_save = "<{:url('Part/url_save')}>";
    $("#btnsearch").click(function () {
        q = getQueryParams();
        var url=url_index;
        $("#dg").bootstrapTable('refresh', {url: url, query: q});
    })
    function getQueryParams() {
        var q = {};
var params = $("#search").serializeArray();
for (var item in params) {
   q[params[item].name] = params[item].value;
}
        return q;
    }

    $(function () {
        $('#dg').bootstrapTable({
            url:url_index,
            //method:'post',
            queryParams: function (params) {
                params.p = parseInt(params.offset / params.limit) + 1;
                params = $.extend(params, getQueryParams());
                return params;
            },
            queryParamsType: "limit",
            contentType: 'application/json',
            dataType: 'json',
            sidePagination: "server", //表示服务端请求
            pagination: true, //启动分页
            pageNumber: 1, //当前第几页
            pageSize: 10, //每页显示的记录数
            pageList: [10, 15, 20], //记录数可选列表
            dataField: 'rows',
            idField: "id",
            columns: [{checkbox: true, align: 'center', valign: 'middle'},
                {title: 'id', field: 'id', align: 'center', valign: 'middle'},
                {title: '域名', field: 'demain', align: 'center', valign: 'middle'},
                {title: '站点名称', field: 'site_name', align: 'center', valign: 'middle'},
                {title: '操作', field: 'n_do', align: 'center', valign: 'middle',
                    formatter: function (value, row, index) {
                        var html = '';
                    html = '<a href="" data-id='+ row.id+' class="btn btn-warning btn-sm detail" data-toggle="tooltip" data-placement="top" title="查看统计" style=" margin-right:4px;"><span class="glyphicon glyphicon-eye-open"></span> 查看订单统计</a>\n\
            \n\<a href="" data-id='+ row.id+' class="btn btn-warning btn-sm detail_back" data-toggle="tooltip" data-placement="top" title="查看盈利统计" style=" margin-right:4px;"><span class="glyphicon glyphicon-eye-open"></span> 查看盈利统计</a>\n\
\n\            \n\<a href="" data-id='+ row.id+' class="btn btn-warning btn-sm check_log" data-toggle="tooltip" data-placement="top" title="四要素接口统计" style=" margin-right:4px;"><span class="glyphicon glyphicon-eye-open"></span> 四要素接口统计</a>\n\
            \n\<a href="" data-id='+ row.id+' data-key='+ row.key+' data-url='+ row.url+' class="btn btn-warning btn-sm save_open" data-toggle="tooltip" data-placement="top" title="保存配置" style=" margin-right:4px;"><span class="glyphicon glyphicon-edit"></span> 查看配置</a>\n\
  <div class="dropdown" style=" display: inline-block;">\n\
<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"></ul></div>';
                 return html;
                    }
                }],
            responseHandler: function (res) {
                //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
                //在ajax后我们可以在这里进行一些事件的处理
                return res;
            },
            search: false,
            iconSize: 'outline',
            toolbar: '#exampleTableEventsToolbar',
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            toolbarAlign: 'left',
            showToggle: false,
            showColumns: false, //显示下拉框勾选要显示的列
            // minimumCountColumns:3,
            showRefresh:true,//显示刷新按钮
            striped: true, //表格显示条纹
            singleSelect: false, //复选框只能选择一条记录  
            clickToSelect: false, //点击行即可选中单选/复选框  
            checkboxHeader: true
        });
    $("body").on("click",".detail",function(e){
        e.preventDefault();
                 var id=$(this).attr("data-id");
        location.href=update_edit+"?id="+id+"&disable=1";
    }) 
    $("body").on("click",".detail_back",function(e){
        e.preventDefault();
                 var id=$(this).attr("data-id");
        location.href=get_demain_order+"?id="+id+"&disable=1";
    }) 
    $("body").on("click",".check_log",function(e){
        e.preventDefault();
                 var id=$(this).attr("data-id");
        location.href=check_log+"?id="+id+"&disable=1";
    }) 
    $("body").on("click",".action_del",function(e){
        e.preventDefault();
         var id=$(this).attr("data-id");
         confirm_dialog("提示","删除当前订单",function(){
             var url=url_del;
             var data={id:id};          
             update_post(url,data,function(){
                 
                  $("#dg").bootstrapTable('refresh');
                 alert_m("删除成功");
             });
         })
    }) 
    $("body").on("click","#btndel",function(e){
        e.preventDefault();
         var items=$('#dg').bootstrapTable('getSelections');
        items = objcolum(items, 'id');
         confirm_dialog("提示","删除当前订单",function(){
             var url=url_del;
             var data={id:items};          
             update_post(url,data,function(){
                 
                  $("#dg").bootstrapTable('refresh');
                 alert_m("删除成功");
             });
         })
    }) 
    //保存配置
function save_config(id){
      var data=[];
      $("#"+id+" .data").each(function(){
           var item=new Object();
          item.type=$(this).attr("data-type");
          item.low_fee=$(this).find("[name='low_fee']").val();
          item.low_rate_money=$(this).find("[name='low_rate_money']").val();
          item.min=$(this).find("[name='min']").val();
          item.max=$(this).find("[name='max']").val();
          data.push(item);
      });
      var info=JSON.stringify(data);
         confirm_dialog("提示","确认保存配置",function(){
             var url=url_save;
             var data={item:info,id:id};          
             update_post(url,data,function(){
                 
                  $("#dg").bootstrapTable('refresh');
                 alert_m("保存配置成功");
             });
         })
    } 
    $("body").on("click",".save_open",function(e){
        e.preventDefault();
        var key=$(this).attr("data-key");
        var id=$(this).attr("data-id");
        var url_d=$(this).attr("data-url");
             var url=url_detail;
             var data={key:key,url:url_d};          
             $.post(url,data,function(data){
                 if(data.stat){
                      var value=JSON.parse(data.msg);
                      console.log(value);
                         var html="<table id='"+id+"' class='pay_type'><tr><td>接口名称</td><td>通道名称</td><td>最低费率</td><td>最低固定费用</td><td>最低消费</td><td>最高消费</td></tr>";
                        for(i in value){
                             for(ii in value[i].pay_way){
                                 html+='<tr class="data" data-type="'+value[i].pay_way[ii].type+'"><td>'+value[i].name+'</td><td>'+value[i].pay_way[ii].name+'</td><td><input name="low_fee" value='+value[i].pay_way[ii].low_fee+'></td><td><input name="low_rate_money" value='+value[i].pay_way[ii].low_rate_money+'></td><td><input name="min" value='+value[i].pay_way[ii].min+'></td><td><input name="max" value='+value[i].pay_way[ii].max+'></td></tr>';
                             }
                        }
                        html+="</table>";     
                 }else{
                     var html=data.msg;
                 }
swal({ 
  title: "更改配置信息", 
  text: html, 
  html:true,
  showCancelButton: true, 
  cancelButtonText: "取消",
  closeOnConfirm: false, 
  confirmButtonText: "保存"
},
function(){ 
    save_config(id);
});
    }) 
             });

    });
function alert_m(msg){
                            swal("提示信息", msg, "success");   
}
   function update_post(url,data,msg){
       $.post(url,data,function(data){
           
           if(data.stat==1){
               msg();
           }else{
               alert(data.msg);
           }
       })
   } 
   function confirm_dialog(title,dec,action){
 swal({
        title: title,
        text: dec,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        cancelButtonText:"取消",
        confirmButtonText: "确认",
        closeOnConfirm: false
    }, function (isConfirm) {
        if(isConfirm){
        action();    
        }
    });
       
   }
</script>
<{include file="public/footer"}>