<{include file="public/header"}>
<link type="text/css" rel="stylesheet" href="/static/css/plugins/iCheck/custom.css">
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/iCheck/icheck.min.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container ibox-title">
                <ul class="nav nav-tabs">
                    <{if condition="$action eq 'index'"}>
                    <li class="active"><a href="javascript:;">会员列表</a></li>
                    <li ><a class="icon iconfont icon-favor_light" href="<{:url('member/add')}>" class="jf_sub_menu">新增/修改会员</a></li>
                    <{else}>
                    <li><a class="icon iconfont icon-favor_light" href="<{:url('member/index')}>" class="jf_sub_menu">会员列表</a></li>
                    <li class="active"><a href="javascript:;">新增/修改会员</a></li>
                    <{/if}>
                </ul>
                <div class="ibox-content">
                    <div class="">
                        <form class="form-horizontal" id="form1" onclick="return false">
                            <!-- <div class="panel-heading">
                                            <{switch name="action"}>
                                                    <{case value="add"}>添加新<{/case}>
                                                    <{case value="edit"}>修改<{/case}>
                                            <{/switch}>会员
                                    </div> -->
                            <div class="">
                                <input type="hidden" value="<{$info.id}>" name="id">
                                <{if condition="$action eq 'add'"}>
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">用户名</div>
                                    <div class="col-sm-4">
                                        <input id="formitem_1" type="text" class="form-control" value="<{$info.uname}>" name="username">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <{else}>
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">用户名</div>
                                    <div class="col-sm-4">
                                        <span class="form-control"><{$info.uname}></span>
                                        <input type="hidden" name="username" value="<{$info.uname}>">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <{/if}>
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">密码</div>
                                    <div class="col-sm-4">
                                        <input id="" type="text" class="form-control" value="" name="password">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">确认密码</div>
                                    <div class="col-sm-4">
                                        <input id="" type="text" class="form-control" value="" name="chpassword">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">性别</div>
                                    <div class="col-sm-4">
                                        <div class="checkbox i_checks">
                                            <label class="">
                                                <div class="iradio_square-green" style="position: relative;">
                                                    <input type="radio" value="0" name="sex" style="position: absolute; opacity: 0;" <{if condition="$info.sex eq 0"}>checked<{/if}>>

                                                </div>保密 &nbsp;&nbsp;&nbsp;&nbsp;
                                                <div class="iradio_square-green" style="position: relative;">
                                                    <input type="radio" value="1" name="sex" style="position: absolute; opacity: 0;" <{if condition="$info.sex eq 1"}>checked<{/if}>>

                                                </div>男 &nbsp;&nbsp;&nbsp;&nbsp;
                                                <div class="iradio_square-green" style="position: relative;">
                                                    <input type="radio" value="2" name="sex" style="position: absolute; opacity: 0;" <{if condition="$info.sex eq 2"}>checked<{/if}>>

                                                </div>女 &nbsp;&nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                        <script>;$('.i_checks').iCheck({checkboxClass: 'icheckbox_square-green', radioClass: 'iradio_square-green', });</script>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>								
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">上级</div>
                                    <div class="col-sm-4">
                                        <input id="" type="text" class="form-control" value="<{$info.p_id}>" name="pid">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">上级详情</div>
                                    <div class="col-sm-4">
                                        <span class="form-control"><{$info.pinfo.truename}><{$info.pinfo.phone}></span>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">手机号</label>
                                    <div class="col-sm-4">
                                        <input id="formitem_5" type="text" class="form-control" value="<{$info.phone}>" name="phone" >
                                        <!-- -->
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>

                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">真实姓名</label>
                                    <div class="col-sm-4">
                                        <input id="formitem_6" type="text" class="form-control" value="<{$info.truename}>" name="realname">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">省</label>
                                    <div class="col-sm-4">
                                        <span class="form-control" ><{$info.bank_area.province}></span>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">市</label>
                                    <div class="col-sm-4">
                                          <span class="form-control" ><{$info.bank_area.city}></span>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">详细地址</label>
                                    <div class="col-sm-4">
                                          <span class="form-control" ><{$info.bank_area.detail}></span>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                         <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">区</label>
                                    <div class="col-sm-4">
                                          <select name="county" class="form-control" >
                                              <{volist name="countys" id="v" }>
                                              <option value="<{$v.a_id}>" <{if condition="$v.a_id eq $bank_county_code"}>selected<{/if}>><{$v.a_name}></option>
                                              <{/volist}>
                                          </select>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">余额</div>
                                    <div class="col-sm-4">
                                        <input id="" type="number" class="form-control" value="<{$info.money}>" name="money" />
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">身份证号</div>
                                    <div class="col-sm-4">
                                        <input id="idnum" type="text" class="form-control" value="<{$info.idnum}>" name="idnum" >
                                        <!-- name="idnumber" -->
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div> 
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">银行卡开户银行</div>
                                    <div class="col-sm-4">
                                        <input id="idnum" type="text" class="form-control" value="<{$info.bankname}>" name="bankname" >
                                        <!-- name="idnumber" -->
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">银行卡</div>
                                    <div class="col-sm-4">
                                        <input id="idnum" type="text" class="form-control" value="<{$info.banknum}>" name="banknum" >
                                        <!-- name="idnumber" -->
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
                                <div class="form-group class_photo" style="">
                                    <label class="col-sm-2 control-label">短信剩余条数</label>
                                    <div class="col-sm-4">
                                        <input id="formitem_6" type="number" min="0" class="form-control" value="<{$info.sms_sendtimes}>" name="smsNum">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">会员组</div>
                                    <div class="col-sm-4">
                                        <select id="ap_id" class="input_zdy input-sm" name="group_id">
                                            <{volist name="lists" id="member" empty="$empty"}>
                                            <option value="<{$member.id}>" <{if condition="$member.id eq $info.membergroup_id"}>selected<{/if}>><{$member.name}></option>
                                            <{/volist}>
                                        </select>
                                    </div>
                                </div>  
                                <div class="form-group ">
                                    <div class="col-sm-2 control-label">状态</div>
                                    <div class="col-sm-4">
                                        <div class="checkbox i_checks"><label class=""><div class="iradio_square-green" style="position: relative;"><input type="radio" value="0" name="stat" style="position: absolute; opacity: 0;" <{if condition="$info.stat eq 0"}>checked<{/if}>></div>禁用 &nbsp;&nbsp;&nbsp;&nbsp;<div class="iradio_square-green" style="position: relative;"><input type="radio" value="1" name="stat" style="position: absolute; opacity: 0;" <{if condition="$info.stat eq 1"}>checked<{/if}>></div>启用 &nbsp;&nbsp;&nbsp;&nbsp;</label></div><script>;$('.i_checks').iCheck({checkboxClass: 'icheckbox_square-green', radioClass: 'iradio_square-green', });</script>
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <a href="javascript:;" id="submit" class="btn btn-warning btnbottom">立即保存</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function hider($type) {
        var $class_text = $(".class_text");
        var $class_photo = $(".class_photo");

        if ($type == '1') {
            $class_text.show(300);
            $class_photo.hide(300);
        } else if ($type == '2') {
            $class_text.hide(300);
            $class_photo.hide(300);
        } else {
            $class_text.hide(300);
            $class_photo.show(300);
        }
    }
    $(function () {
        $("#submit").click(function () {
            var $form = $("#form1");
            $.ajax({
                url: "<{php}>echo url('member/'.$action)<{/php}>",
                data: $form.serialize(),
                type: 'post',
                dataType: 'json',
                success: function (d) {
                    if (d.stat == '1') {
                        swal({
                            title: "太帅了",
                            text: d.msg ? d.msg : '操作成功！',
                            type: "success"
                        }, function () {
                            location.href = "<{:url('member/index')}>";
                        });
                    } else {
                        swal({
                            title: "出错了",
                            text: d.msg ? d.msg : '操作失败',
                            type: "error"
                        });
                    }
                },
                error: function (d) {
                    swal({
                        title: "出错了",
                        text: d.msg ? d.msg : '操作失败',
                        type: "error"
                    });
                }
            });
        });
    });
</script>
<{include file="public/footer"}>