<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<style>
    .sweet-alert p .check{
            text-align: left;
    }
</style>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style=" padding-bottom: 0;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:;"><{$info.site_name}>银行卡验证接口调用</a></li>
            </ul>
        </div>
        <div class="ibox-content">

            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <h3>统计：<span class="red"><i id="last"><{$last}></i></span></h3>
                            </div>
                            <!---search start-->
                            <div class="right">
                                <form id="search">
                                    <input type="hidden"   class="input_zdy input-sm"  name="id" value="<{$id}>"/>
                                <span style=" line-height: 30px; margin-right: 5px;">开始时间</span>
                                
                                <input type="text" id="start" value="" class="input_zdy input-sm" size=25 placeholder="开始时间" name="start"/>
                                <input name="type" type="hidden" value="13">
                                <span style=" line-height: 30px; margin-right: 5px;">结束时间</span>
                                <input type="text" id="end" value="" class="input_zdy input-sm" size=25 placeholder="结束时间" name="end"/>
                                <a href="javascript:;" id="btnsearch" class="btn btn-primary btn-sm">查询</a>
                                <a href="javascript:;" id="btnexcel" class="btn btn-primary btn-sm">导出excel</a>
                                </form>
                            </div>
                            <!---search end---->
                            <table id="dg" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- layerDate plugin javascript -->
<script src="/static/js/plugins/layer/laydate/laydate.js"></script>
<script>
    var url_index="<{:url('part/get_check_log')}>";
    var update_edit = "<{:url('msg/edit')}>";
    var url_del = "<{:url('msg/del')}>";
    $("#btnsearch").click(function () {
        q = getQueryParams();
        var url=url_index;
        $("#dg").bootstrapTable('refresh', {url: url, query: q});
    })
    function getQueryParams() {
        var q = {};
var params = $("#search").serializeArray();
for (var item in params) {
   q[params[item].name] = params[item].value;
}
        return q;
    }

    $(function () {
        $('#dg').bootstrapTable({
            url:url_index,
            //method:'post',
            queryParams: function (params) {
                params.p = parseInt(params.offset / params.limit) + 1;
                params = $.extend(params, getQueryParams());
                return params;
            },
            queryParamsType: "limit",
            contentType: 'application/json',
            dataType: 'json',
            sidePagination: "server", //表示服务端请求
            pagination: true, //启动分页
            pageNumber: 1, //当前第几页
            pageSize: 10, //每页显示的记录数
            pageList: [10, 15, 20], //记录数可选列表
            dataField: 'rows',
            idField: "id",
            columns: [{checkbox: true, align: 'center', valign: 'middle'},
                {title: 'id', field: 'id', align: 'center', valign: 'middle'},
                {title: '时间', field: 'response_time', align: 'center', valign: 'middle'},
                {title: '调用接口地址', field: 'url', align: 'center', valign: 'middle'},
                {title: '操作', field: 'n_do', align: 'center', valign: 'middle',
                    formatter: function (value, row, index) {
                        var html = '';
                        html = '\
                          <a href="' + update_edit + '?id=' + row.id + '" class="btn btn-warning btn-sm res"  data-r=\''+row.params+'\'   data-toggle="tooltip" data-placement="top" title="编辑" style=" margin-right:4px;"><span class="fa fa-eye"></span> 查看请求参数</a>\n\
                           <a href="javascript:;"  class="btn btn-warning btn-sm res1"  data-r=\''+row.returncontent+'\'   data-toggle="tooltip" data-placement="top" title="删除" style=" margin-right:4px;"><span class="fa fa-eye"></span> 查看响应</a>';
                        return html;
                    }
                }
              ],
            responseHandler: function (res) {
                              $("#last").text(res.total);
                return res;
            },
            search: false,
            iconSize: 'outline',
            toolbar: '#exampleTableEventsToolbar',
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            toolbarAlign: 'left',
            showToggle: false,
            showColumns: false, //显示下拉框勾选要显示的列
            // minimumCountColumns:3,
            // showRefresh:true,//显示刷新按钮
            striped: true, //表格显示条纹
            singleSelect: false, //复选框只能选择一条记录  
            clickToSelect: false, //点击行即可选中单选/复选框  
            checkboxHeader: true
        });
    $("body").on("click",".res",function(e){
        e.preventDefault();
                 var data=$(this).attr("data-r");
                  data=JSON.parse(data)
 swal({ 
  title: "<small>请求参数</small>!",
  text: "<div class='check'><span>姓名：</span><span>"+data.payerName+"</span></div>\n\
<div class='check'><span>身份证：</span><span>"+data.payerIdNum+"</span></div>\n\
<div class='check'><span>手机号：</span><span>"+data.payerPhoneNo+"</span></div>\n\
<div class='check'><span>银行卡：</span><span>"+data.payeeAcc+"</span></div>\n\
\n\
\n\
", 
  html: true 
});
                  
    }) 
    $("body").on("click",".res1",function(e){
        e.preventDefault();
                 var data=$(this).attr("data-r");
                  data=JSON.parse(data)
                  data=data.data.content;
                  data=JSON.parse(data);
 swal({ 
  title: "<small>响应参数</small>!",
  text: "<div><span>响应数据：</span><span>"+data.message+"</span></div>\n\
\n\
\n\
", 
  html: true 
});
                  
    }) 
    $("#btnexcel").click(function () {
        q = getQueryParams();
        q.excel=1;
        var url=url_index;
        var par=$.param(q);
        console.log(url_index+"?"+par);
        window.open(url_index+"?"+par);
    })
    var start = {
        elem: "#start",
        format: "YYYY-MM-DD hh:mm:ss",
        min: "2018-01-0 23:59:59",
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD hh:mm:ss",
        min: "2018-01-0 23:59:59",
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
    });
function alert_m(msg){
                            swal("提示信息", msg, "success");   
}
   function update_post(url,data,msg){
       $.post(url,data,function(data){
           
           if(data.stat==1){
               msg();
           }else{
               alert(data.msg);
           }
       })
   } 
   function confirm_dialog(title,dec,action){
 swal({
        title: title,
        text: dec,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        cancelButtonText:"取消",
        confirmButtonText: "确认",
        closeOnConfirm: false
    }, function (isConfirm) {
        if(isConfirm){
        action();    
        }
    });
       
   }
</script>
<{include file="public/footer"}>