<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title" style=" padding-bottom: 0;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:;">权限组管理</a></li>
                <li ><a class="icon iconfont icon-favor_light" href="<{:url('role/add')}>" class="jf_sub_menu">新增/修改权限组</a></li>
            </ul>
        </div>
        <div class="ibox-content">

            <div class="row row-lg">
                <div class="col-sm-12">
                    <!-- Example Events -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-sm btn-primary" id="btnadd">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 添加新权限组
                                </button>
                                <button type="button" class="btn btn-sm btn-white" id="btndel">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> 删除权限组
                                </button>
                            </div>
                            <!---search start-->
                            <!-- <div class="right">
                                <span style=" line-height: 30px; margin-right: 5px;">所属权限组:</span>
                                <select id="ap_id" class="input_zdy input-sm">
                                    <option value='-1'>全部</option>
                                    <{volist name="lists" id="position" empty="$empty"}>
                                                                            <option value="<{$position.id}>"><{$position.name}></option>
                                                                            <{/volist}>
                                </select>
                                <a href="javascript:;" id="btnsearch" class="btn btn-primary btn-sm">查询</a>
                            </div> -->
                            <!---search end---->
                            <table id="dg" data-height="100%" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getQueryParams() {
        var q = {};
        q.ap_id = $("#ap_id").val();
        q.a_name = $("#a_name").val();
        return q;
    }
    $("#btnsearch").click(function () {
        q = getQueryParams();
        $("#dg").bootstrapTable('refresh', {url: "<{:url('role/groupajax')}>", query: q});
    })
    $("#btnadd").click(function () {
        location.href = "<{:url('role/add')}>";
    })
    $("#btndel").click(function () {
        var items = $("#dg").bootstrapTable('getSelections');
        items = objcolum(items, 'id');
        if (items.length <= 0) {
            swal("出错了", "请选择要删除的值", "error");
        } else {
            del(items);
        }
    });
    function del(ids) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function (isConfirm) {
            var cur = 0;
            if (isConfirm) {
                if (!$.isArray(ids)) {
                    ids = [ids];
                }
                $.ajax({
                    url: "<{:url('role/del')}>",
                    data: {id: ids},
                    type: 'post',
                    dataType: 'json',
                    success: function (ret) {
                        swal({
                            title: "太帅了",
                            text: ret.msg ? ret.msg : '操作成功！',
                            type: "success"
                        }, function () {
                            location.href = "<{:url('role/index')}>";
                        });
                    }
                });
            } else {
                swal("已取消", "您取消了删除操作！", "error");
            }
        });
    }
    function auth(id) {
        location.href = "<{:url('role/rule_group_menu')}>?id=" + id;
    }
    $(function () {
        $('#dg').bootstrapTable({
            url: "<{:url('role/groupajax')}>",
            //method:'post',
            queryParams: function (params) {
                params.p = parseInt(params.offset / params.limit) + 1;
                params = $.extend(params, getQueryParams());
                return params;
            },
            queryParamsType: "limit",
            contentType: 'application/json',
            dataType: 'json',
            sidePagination: "server", //表示服务端请求
            pagination: true, //启动分页
            pageNumber: 1, //当前第几页
            pageSize: 20, //每页显示的记录数
            pageList: [10, 15, 20], //记录数可选列表
            dataField: 'rows',
            idField: "id",
            columns: [{checkbox: true, align: 'center', valign: 'middle'},
                {title: '权限组名称', field: 'title', align: 'center', valign: 'middle'},
                {title: '权限组描述', field: 'describe', align: 'center', valign: 'middle'},

                {title: '操作', field: 'n_do', align: 'center', valign: 'middle',
                    formatter: function (value, row, index) {
                        var html = '';
                        html = '<a href="<{:url(\'role/edit\')}>?id=' + row.id + '" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="编辑" style=" margin-right:4px;"><span class="glyphicon glyphicon-edit"></span> 编辑</a><a href="javascript:;" onclick="auth(' + row.id + ')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="分配权限" style=" margin-right:4px;"><span class="glyphicon glyphicon-remove"></span>分配权限</a><a href="javascript:;" onclick="del(' + row.id + ')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="删除" style=" margin-right:4px;"><span class="glyphicon glyphicon-remove"></span> 删除</a>';
                        return html;
                    }
                }],
            responseHandler: function (res) {
                //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
                //在ajax后我们可以在这里进行一些事件的处理
                return res;
            },
            search: false,
            iconSize: 'outline',
            toolbar: '#exampleTableEventsToolbar',
            icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
            },
            toolbarAlign: 'left',
            showToggle: false,
            showColumns: false, //显示下拉框勾选要显示的列
            // minimumCountColumns:3,
            // showRefresh:true,//显示刷新按钮
            striped: true, //表格显示条纹
            singleSelect: false, //复选框只能选择一条记录  
            clickToSelect: false, //点击行即可选中单选/复选框  
            checkboxHeader: true
        });
    });
</script>
<{include file="public/footer"}>
<script>

    function openwin(item) {
        var defaultitem = {title: '', id: ''};
        item = $.extend(defaultitem, item);

        var url = (!item.id) ? "<{:url('role/groupadd')}>" : "<{:url('role/groupedit')}>";

        $('#win').dialog({
            modal: true,
            title: '添加/编辑管理员组',
            content: '<div><lable>组名称：</label><input value="' + item.title + '" id="title"/><br /><input type="hidden" id="id" value="' + item.id + '"/>' +
                    '<lable>描述：</label><input value="' + item.describe + '" id="describe" />' +
                    '</div>',
            width: 500,
            height: 200,
            buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $.ajax({
                            url: url,
                            method: 'post',
                            dataType: 'json',
                            data: {title: $("#title").val(), describe: $("#describe").val(), id: $("#id").val()},
                            success: function (d) {
                                if (d.stat == '1') {
                                    $('#win').dialog('close');
                                    $('#dg').datagrid('reload');
                                } else {
                                    $.messager.alert('出错了', d.msg ? d.msg : '出错了', 'error');
                                }
                            },
                            error: function () {
                                $.messager.alert('出错了', '服务器出错了，请稍后再试', 'error');
                            }
                        });
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#win').dialog('close');
                    }
                }]
        });
    }


</script>