<{include file="public/header"}>
<link type="text/css" rel="stylesheet" href="/static/css/plugins/iCheck/custom.css">
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container ibox-title">
					<ul class="nav nav-tabs">
						<{if condition="$action eq 'index'"}>
						<li class="active"><a href="javascript:;">权限组列表</a></li>
						<li ><a class="icon iconfont icon-favor_light" href="<{:url('role/add')}>" class="jf_sub_menu">新增/修改权限组</a></li>
						<{else}>
						<li><a class="icon iconfont icon-favor_light" href="<{:url('role/index')}>" class="jf_sub_menu">权限组列表</a></li>
						<li class="active"><a href="javascript:;">新增/修改权限组</a></li>
						<{/if}>
					</ul>
                    <div class="ibox-content">
                    	<div class="">
	                    <form class="form-horizontal" id="form1" onclick="return false">
    						<div class="">
								<input type="hidden" value="<{$info.id}>" name="id">
								<{if condition="$action eq 'add'"}>
    							<div class="form-group ">
                                    <div class="col-sm-2 control-label">权限组名称</div>
                                    <div class="col-sm-4">
                                        <input id="formitem_1" type="text" class="form-control" value="<{$info.title}>" name="title">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
								<{else}>
								<div class="form-group ">
                                    <div class="col-sm-2 control-label">权限组名称</div>
                                    <div class="col-sm-4">
                                        <span class="form-control"><{$info.title}></span>
										<input type="hidden" name="title" value="<{$info.title}>">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div>  
								<{/if}>
								
								<div class="form-group ">
                                    <div class="col-sm-2 control-label">描述</div>
                                    <div class="col-sm-4">
                                        <input id="" type="text" class="form-control" value="<{$info.describe}>" name="describe">
                                        <span class="help-block m-b-none"></span>
                                    </div>
                                </div> 
								
								<div class="form-group ">
									<div class="col-sm-2 control-label">状态</div>
									<div class="col-sm-4">
										<div class="checkbox i_checks"><label class=""><div class="iradio_square-green" style="position: relative;"><input type="radio" value="0" name="stat" style="position: absolute; opacity: 0;" <{if condition="$info.status eq 0"}>checked<{/if}>></div>禁用 &nbsp;&nbsp;&nbsp;&nbsp;<div class="iradio_square-green" style="position: relative;"><input type="radio" value="1" name="stat" style="position: absolute; opacity: 0;" <{if condition="$info.status eq 1"}>checked<{/if}>></div>启用 &nbsp;&nbsp;&nbsp;&nbsp;</label></div><script>;$('.i_checks').iCheck({ checkboxClass: 'icheckbox_square-green', radioClass: 'iradio_square-green', });</script>
										<span class="help-block m-b-none"></span>
									</div>
								</div>
					            <div class="form-group">
		                            <div class="col-sm-4 col-sm-offset-2">
		                                <a href="javascript:;" id="submit" class="btn btn-warning btnbottom">立即保存</a>
		                            </div>
		                        </div>
    						</div>
        				</form>
        				</div>
	                </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    
	function hider($type){
		var $class_text = $(".class_text");
		var $class_photo= $(".class_photo");

		if($type == '1'){
			 $class_text.show(300);
			 $class_photo.hide(300);
		}else if($type == '2'){
			$class_text.hide(300);
			$class_photo.hide(300);			
		}else{
			$class_text.hide(300);
			$class_photo.show(300);
		}
	}
	$(function(){
		$("#submit").click(function (){
			var $form = $("#form1");
			$.ajax({
				url:"<{php}>echo url('role/'.$action)<{/php}>",
				data:$form.serialize(),
				type:'post',
				dataType:'json',
				success:function(d){
					if(d.stat == '1'){
						swal({
							title: "太帅了",
							text: d.msg?d.msg:'操作成功！',
							type: "success"
						},function(){
							location.href="<{:url('role/index')}>";
						});
					}else{
						swal({
							title: "出错了",
							text: d.msg?d.msg:'操作失败',
							type: "error"
						});
					}
				},
				error:function(d){
					swal({
						title: "出错了",
						text: d.msg?d.msg:'操作失败',
						type: "error"
					});
				}
			});
		});
	});
    </script>
<{include file="public/footer"}>