<{include file="public/header"}>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<link rel="stylesheet" href="/static/css/plugins/bootstraptable/bootstrap-table.min.css">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style=" padding-bottom: 0;">
				<ul class="nav nav-tabs">
					<li class="active"><a href="javascript:;">会员列表</a></li>
					<li><a class="icon iconfont icon-favor_light" href="<{:url('user/add')}>">新增/修改管理员</a></li>
				</ul>                
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="hidden-xs" id="exampleTableEventsToolbar" role="group">
                                    <button type="button" class="btn btn-sm btn-primary" id="btnadd">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 添加管理员
                                    </button>
                                    <button type="button" class="btn btn-sm btn-white" id="btndel">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> 删除管理员
                                    </button>
                                </div>
								<!---search start-->
                                <div class="right">
                                    <span style=" line-height: 30px; margin-right: 5px;">管理员名:</span>
                                    <input type="text" id="name" value="" class="input_zdy input-sm" size=15 placeholder=""/>
                                    <span style=" line-height: 30px; margin-right: 5px;">真实姓名:</span>
                                    <input type="text" id="realname" value="" class="input_zdy input-sm" size=15 placeholder=""/>
                                    <span style=" line-height: 30px; margin-right: 5px;">状态:</span>
                                    <select id="stat" class="input_zdy input-sm">
                                        <option value="-1">全部</option>
                                        <option value="1" selected="true">启用</option>
                                        <option value="0">禁用</option>
                                    </select>
                                    <a href="javascript:;" id="btnsearch" class="btn btn-primary btn-sm">查询</a>
                                </div>
								<!---search end---->
                                <table id="dg" data-height="100%" data-mobile-responsive="true">
                                </table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function getQueryParams(){
        var q = {};
        q.name = $("#name").val();
        q.realname = $("#realname").val();
        q.stat = $("#stat").val();
        return q;
    }
    $("#btnsearch").click(function(){
		q = getQueryParams();
		$("#dg").bootstrapTable('refresh', { url : "<{:url('user/listajax')}>",query:q}); 
    })
    $("#btnadd").click(function(){
    	location.href="<{:url('user/add')}>";
    })
    
    
    $("#btndel").click(function(){
    	var items = $("#dg").bootstrapTable('getSelections');
    	items = objcolum(items,'adminid');
    	if(items.length <= 0){
    		swal("出错了", "请选择要删除的值", "error");
    	}else{
			del(items);
		}
    });
    function del(ids){
		swal({
			title: "您确定要删除吗",
			text: "删除后将无法恢复，请谨慎操作！",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "确定",
			cancelButtonText: "取消",
			closeOnConfirm: false,
			closeOnCancel: false
		},
		function (isConfirm) {
			if (isConfirm) {
				if(!$.isArray(ids)){
					ids = [ids];
				}
				$.ajax({
					url:"<{:url('user/del')}>",
					data:{id:ids},
					type:'post',
					dataType:'json',
					success:function(d){
						if(d.stat == '1'){
							swal({
								title: "太帅了",
								text: d.msg,
								type: "success"
							},function(){
								location.href="<{:url('user/adminlist')}>";
							});
						}else{
							swal({
								title: "出错了",
								text: d.msg,
								type: "error"
							});
						}
					}
				});
				//swal("删除成功！", "您已经永久删除了这条信息。", "success");
			} else {
				swal("已取消", "您取消了删除操作！", "error");
			}
		});
	}

	function changeData(t){
      var $form = $("#change_member_data");
      $.ajax({
          url:$form.attr('action'),
          data:$form.serialize(),
          method:'post',
          dataType:'json',
          success:function(d){
          	if(d.stat == '1'){
          		jf.closedialog(dialog1);  
          		location.href=" <{:url('user/list')}>";
          	}else{
          		alert(d.msg?d.msg:'操作失败');return;
          	}
          },
          error:function(d){
            alert(d.msg?d.msg:'操作失败');return;
          }
      });
    }

    function showchange(id,oldData,act){
        var title = '';
        if (act == 'points') {
          title = '积分';
        } else if (act == 'exp_points') {
          title = '经验';
        }
        if (title == '' || !id) {
          alert('参数错误');return;
        }
        var content = '<form action="<{:url('user/changeData')}>" class="form-horizontal form" data-jf="jf_1" id="change_member_data" method="post" onsubmit="return false">'+
          ' <input name="id" type="hidden" value="'+id+'">'+
          ' <input name="act" type="hidden" value="'+act+'">'+
          ' <div class="form-group">'+
          '  <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">会员'+title+'值</label>'+
          '  <div class="col-sm-7 col-lg-8 col-xs-12">'+oldData+
          '   </div>'+
          ' </div>'+
          ' <div class="form-group">'+
          '  <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">'+title+'</label>'+
          '  <div class="col-sm-7 col-lg-8 col-xs-12">'+
          '   <input class="form-control" name="data" type="text" value=""><span class="help-block">"+"或是纯数字表示增，"-"表示减</span>'+
          '   </div>'+
          ' </div>'+
          ' <div class="form-group">'+
          '  <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">描述</label>'+
          '  <div class="col-sm-7 col-lg-8 col-xs-12">'+
          '  <textarea class="form-control" name="desc"></textarea><span class="help-block">描述信息将显示在'+title+'明细相关页，会员和管理员都可见</span>'+
          '   </div>'+
          ' </div>'+
          '</form>';
        var footer='<button class="btn btn-primary" onclick="changeData(this)">确认</button>',options={ area: ['600px', '85%'],};
        dialog1 = jf.dialog('修改'+title, content+footer, options);
  	}
    $(function(){
		$('#dg').bootstrapTable({
			url:"<{:url('user/listajax')}>",
			//method:'post',
			queryParams:function(params){
				params.p = parseInt(params.offset/params.limit)+1;
				params = $.extend(params,getQueryParams());
				return params;
			},
			queryParamsType:"limit",
			contentType:'application/json',
			dataType:'json',
			sidePagination: "server", //表示服务端请求
			pagination:true,//启动分页
			pageNumber:1,//当前第几页
			pageSize:20,//每页显示的记录数
			pageList:[10,15,20], //记录数可选列表
			dataField:'rows',
			idField:"adminid",
			columns:[{checkbox: true,align: 'center', valign: 'middle'},
					{title: '管理员名',field: 'username',align: 'center',valign: 'middle'},
					{title: '真实姓名',field: 'realname',align: 'center',valign: 'middle'},
					{title: '添加时间',field: 'm_addtime',align: 'center',valign: 'middle',
						formatter:function(value,row,index){
							var html = int2date('yyyy-MM-d h:m:s',row.m_addtime);
							return html;
					}},
					{title: '是否超级管理员',field: 'isSuper',align: 'center',valign: 'middle'},
					{title: '启用',field: 'stat',align: 'center',valign: 'middle',formatter:function(value,row,index){
							var html = '';
							if(row.stat == '1'){
								html = '<i class="fa fa-toggle-on infoOn"></i>';
							}else{
								html = '<i class="fa fa-toggle-on infoOff"></i>';
							}
							return html;
					}},
					{title: '操作',field: 'n_do',align: 'center',valign: 'middle',
						formatter:function(value,row,index){
							if(row.adminid != 1){
								var html = '';
								html = '<a href="<{:url('user/edit')}>?uid='+row.adminid+'" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="编辑" style=" margin-right:4px;"><span class="glyphicon glyphicon-edit"></span> 编辑</a><a href="javascript:;" onclick="del('+row.adminid+')" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="删除" style=" margin-right:4px;"><span class="glyphicon glyphicon-remove"></span> 删除</a><div class="dropdown" style=" display: inline-block;"></div>';
								return html;
							}else{
								var html = '';
								html = '<a href="<{:url('user/edit')}>?uid='+row.adminid+'" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="编辑" style=" margin-right:4px;"><span class="glyphicon glyphicon-edit"></span> 编辑</a></div>';
								return html;
                                                        }
							
						}
					}],
			responseHandler:function(res){
			  //远程数据加载之前,处理程序响应数据格式,对象包含的参数: 我们可以对返回的数据格式进行处理
			  //在ajax后我们可以在这里进行一些事件的处理
			  return res;
			},
			search:false,
			iconSize: 'outline',
			toolbar: '#exampleTableEventsToolbar',
			icons: {
				refresh: 'glyphicon-repeat',
				toggle: 'glyphicon-list-alt',
				columns: 'glyphicon-list'
			},
			toolbarAlign:'left',
			showToggle:false,
			showColumns:false,//显示下拉框勾选要显示的列
			minimumCountColumns:3,
			showRefresh:true,//显示刷新按钮
			striped:true,//表格显示条纹
			singleSelect:false,//复选框只能选择一条记录  
			clickToSelect:false,//点击行即可选中单选/复选框  
			checkboxHeader:true
		});
    });
    </script>
<{include file="public/footer"}>
